<!--https://material.io/icons/?utm_source=google&utm_medium=cpc&utm_campaign=1001467%20%7C%20Material.IO%20%7C%20Global%20%7C%20en%20%7C%20Hybrid%20%7C%20Text%20%7C%20SKWS&utm_term=%7Bkeyword%7D&gclid=Cj0KCQiAi7XQBRDnARIsANeLIesz2MtP_9ndjyAB_ZLrLDVdcfSC9dUSWJsYRW3Ae9ZcPPipdbfSzJIaApwVEALw_wcB#ic_format_list_bulleted-->
<mat-toolbar>
  <div>My App</div>

    <div >
      <button><i class="material-icons">format_list_bulleted</i></button>
      <button><i class="material-icons">format_list_numbered</i></button>
    </div>
    <div>
      <button><i class="material-icons">format_bold</i></button>
      <button><i class="material-icons">format_italic</i></button>
      <button><i class="material-icons">format_underlined</i></button>
    </div>
    <div></div>


    <div>
      <button><i class="material-icons">format_color_text</i></button>
    </div>
    <div>
      <button><i class="material-icons">insert_link</i></button>
    </div>
    <div>
      <button><i class="material-icons">format_quote</i></button>
        <button><i class="material-icons">functions</i></button>
    </div>
    <div>
      <button><i class="material-icons">format_strikethrough</i></button>
    </div>
    <div>
      <button><i class="material-icons">insert_emoticon</i></button>
        <button><i class="material-icons">insert_photo</i></button>
    </div>
    <div>
      <button><i class="material-icons">format_textdirection_l_to_r</i></button>

        <button><i class="material-icons">format_textdirection_r_to_l</i></button>
    </div>
    <div>
      <button><i class="material-icons">format_align_justify</i></button>
        <button><i class="material-icons">format_align_center</i></button>
          <button><i class="material-icons">format_align_left</i></button>
            <button><i class="material-icons">format_align_right</i></button>
    </div>
    <div>
      <button><i class="material-icons">format_clear</i></button>
    </div>
  <div>
    <button mat-button (click)="openSnackBar('save', 'cancel')">Save</button>
    <mat-form-field>
      <input matInput value="README.md" placeholder="File name" #file_name>
    </mat-form-field>
  </div>


</mat-toolbar>

