<!--<div (keypress)="editor_keypress($event)"  #richtextbox>-->
  <!--<p contenteditable="true">aa<i>ddd</i>aaa</p>-->
<!--</div>-->
<mat-toolbar>
  <div class="spacer-icon">Markdown Editor     </div>
  <button mat-icon-button><mat-icon >format_list_bulleted</mat-icon></button>
  <button mat-icon-button><mat-icon >format_list_numbered</mat-icon></button>
  <button mat-icon-button><mat-icon (click)="apply_bold($event)">format_bold</mat-icon></button>
  <button mat-icon-button><mat-icon (click)="apply_italic($event)">format_italic</mat-icon></button>
  <button mat-icon-button><mat-icon (click)="open_colors($event)">format_color_text</mat-icon></button>


  <button mat-icon-button><mat-icon (click)="insert_link($event)">insert_link</mat-icon></button>
  <button mat-icon-button><mat-icon (click)="apply_underline($event)">format_quote</mat-icon></button>
  <button mat-icon-button><mat-icon (click)="apply_underline($event)">functions</mat-icon></button>
  <button mat-icon-button><mat-icon (click)="apply_underline($event)">format_strikethrough</mat-icon></button>
  <button mat-icon-button><mat-icon (click)="apply_underline($event)">insert_emoticon</mat-icon></button>
  <button mat-icon-button><mat-icon (click)="apply_underline($event)">insert_photo</mat-icon></button>
  <button mat-icon-button><mat-icon (click)="apply_underline($event)">format_textdirection_l_to_r</mat-icon></button>
  <button mat-icon-button><mat-icon (click)="apply_underline($event)">format_textdirection_r_to_l</mat-icon></button>
  <button mat-icon-button><mat-icon (click)="apply_underline($event)">format_align_justify</mat-icon></button>
  <button mat-icon-button><mat-icon (click)="apply_underline($event)">format_align_center</mat-icon></button>
  <button mat-icon-button><mat-icon (click)="apply_underline($event)">format_align_left</mat-icon></button>
  <button mat-icon-button><mat-icon (click)="apply_underline($event)">format_align_right</mat-icon></button>
  <button mat-icon-button><mat-icon (click)="apply_underline($event)">format_clear</mat-icon></button>
  <div>
    <button mat-button (click)="openSnackBar('save', 'cancel')">Save</button>
    <mat-form-field>
      <input matInput value="README.md" #file_name>
    </mat-form-field>
  </div>


</mat-toolbar>

<ng-container #richtextbox>
</ng-container>
<div #abcd></div>

