<!--icons from:https://docs.flutter.io/flutter/material/Icons-class.html-->
<mat-toolbar>
  <div class="spacer-icon">Markdown Editor     </div>
  <button mat-icon-button><mat-icon >format_list_bulleted</mat-icon></button>
  <button mat-icon-button><mat-icon >format_list_numbered</mat-icon></button>
  <button mat-icon-button><mat-icon (click)="apply_bold($event)">format_bold</mat-icon></button>
  <button mat-icon-button><mat-icon (click)="apply_italic($event)">format_italic</mat-icon></button>
  <color-pallate></color-pallate>
  <button mat-icon-button><mat-icon (click)="insert_link()">insert_link</mat-icon></button>
  <button mat-icon-button><mat-icon (click)="apply_quote($event)">format_quote</mat-icon></button>
  <button mat-icon-button><mat-icon (click)="apply_code_format($event)">functions</mat-icon></button>
  <button mat-icon-button><mat-icon (click)="apply_strike_through($event)">format_strikethrough</mat-icon></button>
  <button mat-icon-button><mat-icon (click)="apply_underline($event)">insert_emoticon</mat-icon></button>
  <button mat-icon-button><mat-icon (click)="apply_underline($event)">insert_photo</mat-icon></button>
  <button mat-icon-button><mat-icon (click)="apply_undo($event)">undo</mat-icon></button>
  <button mat-icon-button><mat-icon (click)="apply_redo($event)">redo</mat-icon></button>
  <button mat-icon-button><mat-icon (click)="format_align_justify($event)">format_align_justify</mat-icon></button>
  <button mat-icon-button><mat-icon (click)="format_align_center($event)">format_align_center</mat-icon></button>
  <button mat-icon-button><mat-icon (click)="format_align_left($event)">format_align_left</mat-icon></button>
  <button mat-icon-button><mat-icon (click)="format_align_right($event)">format_align_right</mat-icon></button>
  <button mat-icon-button><mat-icon (click)="clear_format($event)">format_clear</mat-icon></button>
  <button mat-icon-button><mat-icon (click)="create_table()">grid_on</mat-icon></button>
  <div>
    <button mat-button>Save</button>
    <mat-form-field>
      <input matInput value="README.md" #file_name>
    </mat-form-field>
  </div>


</mat-toolbar>
<body>
<ng-container #richtextbox>
</ng-container>
<div class="card card-3" #edit></div>
</body>


